# Directories.
datasets/__pycache__/
deployment/__pycache__/
nets/__pycache__/
preprocessing/__pycache__/
tf_extended/__pycache__/
History/
eval/
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

**/__pycache__/
*.sublime-workspace
*.sublime-project

checkpoints/ssd_300_vgg.ckpt.data-00000-of-00001
checkpoints/ssd_300_vgg.ckpt.index

logs/
*.log

*.idea/
